<!DOCTYPE html> 
<html>
<head>
     <title>Error</title>
<link rel ="stylesheet" href="./css/style.css">
<script src="./js/app.js"></script>
   <link rel ="icon" href="./img/images.png">

</head>
<body style="background-image: url('./img/w1.jpeg');">
   <div class="main-content">   {{>header}}
    {{ErrorMessage}}
    {{title}}
   
   
    </div>
     {{>footer}}
</body>
</html>