<!DOCTYPE html> 
<html>
<head>
<link rel ="stylesheet" href="./css/style.css">
 <title>About</title>
   <link rel ="icon" href="./img/w.png">

</head>
<body style="background-image: url('./img/w1.jpeg');">
<div class="main-content">   {{>header}}
    <h3 style="color: chartreuse;">{{About}}</h3>
    <p style="color: blue;"> This website is created by Suraj Panker.It uses mapbox.com and weatherstack.com.</p>
    <img class="imgc" src="./img/0.jpeg"> 
     </div>
   
    {{>footer}}
    
</body>
</html>