<!DOCTYPE html> 
<html>
<head>

<link rel ="stylesheet" href="./css/style.css">
 <title>Help</title>
    <link rel ="icon" href="./img/w.png">

</head>
<body style="background-image: url('./img/w1.jpeg');">

    <div class="main-content">  
  <p>

       <h1>{{help}}</h1>
         <p style="color:blue;">{{message}}</p> 
  
   <li>  <a href="/" style="text-decoration: none">Go back </a> </li>
    </p>


    </div>
  
     {{>footer}}
</body>
</html>